<mat-accordion>
  <mat-expansion-panel
    (toggle)="(panelCloseState != this.panelCloseState)"
    *ngFor="let course of courses$ | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ course.subject }}
      </mat-panel-title>
      <mat-panel-description>
        Price: {{ course.price }} zł
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <app-topic-list
        [panelCloseState]="panelCloseState"
        courseId="{{ course.id }}"
      ></app-topic-list>
    </p>
    <mat-action-row>
      <button mat-button (click)="onAddNewTopic()" color="primary">
        Add new topic
      </button>
    </mat-action-row>
    <app-topic-create *ngIf="isCreateTopic"> </app-topic-create>
  </mat-expansion-panel>
</mat-accordion>
