<mat-card>
  <form (submit)="onAddCourse(courseForm)" #courseForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="subject"
        ngModel
        required
        placeholder="Course subject"
        #subject="ngModel"
      />
      <mat-error *ngIf="subject.invalid">Please enter a subject</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        name="price"
        ngModel
        required
        placeholder="Course price"
        #price="ngModel"
      />
      <mat-error *ngIf="price.invalid">Please enter a price</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Add
    </button>
  </form>
</mat-card>
